/** App **/
main {
    margin: 0 auto;
    width: auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

main > h1 {
    text-align: center;
}

/** Board **/
.board {
    display: inline;
}

.board .row {
    display: flex;
    justify-content: center;
}

.board .col {
    width: 80px;
    height: 80px;
    font-size: 72px;
    text-align: center;
    cursor: pointer;
    border: #ccc 5px solid;
}

.board.won .col {
    background: #fafffa;
    cursor: not-allowed;
}

.board .row:nth-child(1) .col {
    border-bottom: 1px solid #ccc;
}

.board .row:nth-child(3) .col {
    border-top: 1px solid #ccc;
}

.board .col:nth-child(3n+1) {
    border-right: 1px solid #ccc;
}

.board .col:nth-child(3n) {
    border-left: 1px solid #ccc;
}

p.message {
    margin-top: 2em;
    text-align: center;
    font-size: large;
    font-style: italic;
}

p.winner {
    color: red;
}

button.reset {
    display: block;
    margin: 2em auto;
    background: #ccc;
    border: 2px solid #aaa;
    padding: 0.7em;
    font-size: medium;
    cursor: pointer;
}

button.reset:hover {
    background-color: #bbb;;
}