/** App **/
main {
    margin: 0 auto;
    /* width: 30em; */
    width: auto;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

main > h1 {
    text-align: center;
}

/** Board **/
.board {
    display: inline;
    /* border: 3px solid #ccc; */
}

.board .row {
    display: flex;
    justify-content: center;
}

.board .col {
    width: 80px;
    height: 80px;
    font-size: 72px;
    text-align: center;
    cursor: pointer;
}

.board .row:nth-child(1) .col {
    border-bottom: 1px solid #ccc;
}

.board .row:nth-child(3) .col {
    border-top: 1px solid #ccc;
}

.board .col:nth-child(3n+1) {
    border-right: 1px solid #ccc;
}

.board .col:nth-child(3n) {
    border-left: 1px solid #ccc;
}